

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;

}
.header{
    min-height:50vh;
    width: 100;
    background: rgb(39, 147, 157);
    color: rgb(9, 8, 8);
    position:relative;
}
nav{
    display:flex;
    justify-content: center;
    position: relative;
    align-items: center;
    
}
.logo{
    text-decoration: none;
    color: rgb(33, 31, 31);
    font-size: 30px;
    font-weight:bold ;
    padding-top:10% ;
    padding-left: 20px;
}
.nav-links{
    text-align:right;
    background: #cfc84a;
    padding: 20px 20px;
    border-bottom-left-radius:20px ;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:20px 25px;
}
.nav-links ul li a{
    color: rgb(202, 28, 155);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-decoration: black;
}
.nav-links ul a:hover{
    color: #000;

}
.left-sidebar{
    width: 20%;
    height: 50%;
    position: absolute;
    left:0%;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 1%;
}
.left-col{
    flex-basis: 50%;
}
.right-col{
    flex:40% ;

}
.left-col img{
    width: 80%;
    cursor:pointer;
    filter: grayscale(0);
}
.left-col img:hover{
    filter: grayscale(1);
    border-radius: 0%;
}
.right-col p{
    color: rgb(14, 17, 23);
    margin: 20px 0 70px; 

}
.right-col a{
    background: #000;
    padding: 10px 18px;
    text-decoration:none;
    font-weight: bold;
    color: rgb(26, 158, 195);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.social-media{
    display: flex;
    margin-top: 30px;
}
.icon{
    width: 100px;
    height: 100px;
    background: rgb(237, 92, 9);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.5s;
}
.icon i{
    width: 28px;
}
.icon a{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: brown;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: 0.5s;
}
.icon:hover{
    transform:translateY(-5px);
}
    